@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

@font-face {
    font-family: 'Etherea';
    src: url('typo/cirkus/Cirkus.ttf') format('truetype');
}

@font-face{
    font-family: 'Texte';
    src: url(typo/ABeeZee/ABeeZee-Regular.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    scroll-behavior: smooth;
}

@keyframes flotter {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

/* Header  */

header{
    position: fixed;
    width: 100%;
    height: 100px;
    /* background-color: #62438f; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.echap{
    display: block;
    margin-left: 20px;
    width: 75px;
    height: 75px;
}
.echap img{
    width: 100%;
}

.burger{
    margin-right: 20px;
    width: 75px;
    height: 75px;
}

.fond-burger{
    fill: #61438f;
}

.contour-burger{
    fill: white;
}

.barres {
  transition: all 0.4s ease;
  transform-origin: center;
  fill: white;
}

.burger.active #ligne-haut {
  transform: rotate(45deg) translate(150px, 100px) scaleX(2);
}

.burger.active #ligne-milieu {
  opacity: 0;
}

.burger.active #ligne-bas {
  transform: rotate(-45deg) translate(-180px, -100px) scaleX(2);
}

#burger{
    width: 100%;
    height: 100%;
    background-color: #61438f;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%); /* caché */
    transition: transform 0.5s ease;
}

.active_burger{
    transform: translateY(0) !important; /* visible */
}


.content_menu{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content_menu a{
    width: 200px;
    height: 50px;
    text-decoration: none;
    color: white;
    font-family: 'Etherea';
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bouton_download{
    width: 200px;
    background-image: url(illu/bouton-menu/download.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.slide{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9ca9e7;
}
.fond{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Home */

#home{
    background-color: #9ca8e700;
}

/* About */

#image_haut_about{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: -50px;
    z-index: 5;
}
#image_bas_about{
    position: absolute;
    bottom: -300px;
    left: 0;
    width: 100%;
    z-index: 5;
}

.content-about{
    background-image: url(illu/cadre/cadre_about.png);
    background-size: 100% 100%; /* étire l’image sur toute la div */
    background-repeat: no-repeat;
    background-position: center center;
    width: 55%;
    height: 500px;
    z-index: 1;
    padding: 25px;
    animation: flotter 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    margin-top: 300px;
}

.texte-about{
    width: 95%;
    margin-top: 35px;
}

.content-about p{
    font-family: 'Texte';
    margin-top: 15px;
    margin-left: 25px;
    font-size: 16px;
    color: white;
}

.content-about p strong{
    color: #ffffff;
    text-shadow: #f2b3ff 0px 0px 10px;
}

/* Character */ 

#character{
    margin-top: -1px;
    flex-direction: column;
}

#titre_character{
    font-family: 'Etherea';
    font-weight: normal;
    color:#ffffff;
    margin-top: 300px;
    font-size: 70px;
    text-shadow: #753975ff  1px 1px 2px;
    animation: flotter 3s ease-in-out infinite;
}

.content-character{
    width: 80%;
    z-index: 1;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-character{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    width: 250px;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 25px;
}


#card-cattie{
    background-image: url(illu/cadre/cadre_Cat.png);
}

#card-lys{
    background-image: url(illu/cadre/cadre_Lys.png);
}

#card-lys .character-img{
    margin-top: 10px;
    width: 55%;
}

#card-lavende{
    background-image: url(illu/cadre/cadre_Lavende.png);
}

.character-img{
    width: 50%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-img video{
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 5;
}

/* page character*/

.content-page-character{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#cattie{
    background-image: url(illu/cadre/cadre_Cat.png);
    width: 350px;
    height: 550px;
    margin-top: 0;
}
#lys{
    background-image: url(illu/cadre/cadre_Lys.png);
    width: 350px;
    height: 550px;
    margin-top: 0;
}
#lavende{
    background-image: url(illu/cadre/cadre_Lavende.png);
    width: 350px;
    height: 550px;
    margin-top: 0;
}

.character-texte{
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -300px;
}

#texte-cattie{
    background-image: url(illu/cadre/cadre_texte_cattie.png);
}

#texte-lys{
    background-image: url(illu/cadre/cadre_texte_lys.png);
}

#texte-lavende{
    background-image: url(illu/cadre/cadre_texte_lavende.png);
}

.character-texte p{
    text-align: center;
    width: 75%;
    color: #ffffff;
    font-family: 'Texte';
    font-size: 16px;
}

#image_bas_character{
    position: absolute;
    bottom: -500px;
    left: 0;
    width: 100%;
    z-index: 5;
}

/* Worlds */

#worlds{
    flex-direction: column;
    margin-top: -1px;
}

#titre_worlds{
    font-family: 'Etherea';
    font-weight: normal;
    color:#ffffff;
    margin-top: 450px;
    font-size: 70px;
    text-shadow: #753975ff  1px 1px 2px;
    animation: flotter 3s ease-in-out infinite;
}
.container_worlds{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top:100px;
}

.worlds_choice{
    width: 400px;
    height: 250px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foret{
    background-image: url(illu/cadre/cadre_foret.png);
    animation: flotter 2s ease-in infinite;
}

#prairie{
    background-image: url(illu/cadre/cadre_prairie.png);
    animation: flotter 2s ease-out infinite;
}

#desert{
    background-image: url(illu/cadre/cadre_desert.png);
    animation: flotter 2s ease-out infinite;
}

#jungle{
    background-image: url(illu/cadre/cadre_jungle.png);
    animation: flotter 2s ease-in-out infinite;
}

.texte-world{
    width: 500px;
    height: 250px;
    z-index: 5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-world{
    background-color: #61438f00;
}

.texte-world p{
    width: 80%;
    font-family: 'Texte';
    color: white;
    font-size: 16px;
}

.p-bottom{
    margin-top: 10px;
}

#texte_foret{
    background-image: url(illu/cadre/texte_foret.png);
}

#texte_prairie{
    background-image: url(illu/cadre/texte_prairie.png);
}

#texte_desert{
    background-image: url(illu/cadre/texte_desert.png);
}

#texte_jungle{
    background-image: url(illu/cadre/texte_jungle.png);
}

#image_bas_world{
    position: absolute;
    bottom: -400px;
    left: 0;
    width: 100%;
    z-index: 5;
}
#image_bas_download{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

/* Download */
#download{
    margin-top: -1px;
}
.content-download{
    background-image: url(illu/cadre/cadre_download.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
    width: 800px;
    height: 500px;
    margin-top: 450px;
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-download{
    width: 80%;
    margin-top: 100px;
}

.text-download h3{
    font-family: 'Etherea';
    font-weight: normal;
    color: white;
    font-size: 30px;
    margin-top: 0px;
    text-shadow: #d490e2 0px 0px 5px;
}
.text-download p{
    font-family: 'Texte';
    color: white;
    font-size: 16px;
    margin-top: 25px;
}

.content-download p strong{
    color: #ffffff;
    text-shadow: #d490e2 0px 0px 10px;
}

.available{
    margin-top: 15px;
    display: flex;
    align-items: center;
    width: 80%;
}

.available p{
    font-family: 'Texte';
    color: white;
    font-size: 14px;
    margin-left: 15px;
}

.available img{
    width: 25px;
}

.content-preorder{
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.content-preorder a{
    text-decoration: none;
    color: white;
    font-family: 'Etherea';
    font-size: 40px;
}

#preorder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 50px;
    background-image: url(illu/bouton-menu/download.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width:1000px)
{
    .content-about{
        width: 60%;
        height: 400px;
        margin-top: 250px;
    }
    #titre_character{
        margin-top: 350px;
        font-size: 70px;
    }

    .content-character{
        width: 80%;
        margin-top: 50px;
    }

    .card-character{
        width: 200px;
        height: 300px;
        margin-top: 25px;
    }
    #image_bas_character{
        bottom: -350px;
    }
    #titre_worlds{
        margin-top: 350px;
        font-size: 70px;
    }
    .container_worlds{
        margin-top:75px;
    }

    .worlds_choice{
        width: 350px;
        height: 250px;
    }
    #cattie{
        width: 350px;
        height: 500px;
    }
    #lys{
        width: 350px;
        height: 500px;
    }
    #lavende{
        width: 350px;
        height: 500px;
    }
    .character-texte{
        width: 550px;
        height: 250px;
        margin-top: -200px;
        margin-left: 50px;
    }
}

@media screen and (max-width:800px)
{
    .content-about{
        width: 75%;
        height: 400px;
        margin-top: 200px;
    }
    .content-about p{
        font-size: 14px;
    }
    #image_bas_about {
        bottom: -200px;
    }
    #titre_character{
        margin-top: 250px;
        font-size: 70px;
    }

    .content-character{
        width: 80%;
        margin-top: 50px;
    }

    .card-character{
        width: 180px;
        height: 280px;
        margin-top: 25px;
    }
    #cattie{
        width: 300px;
        height: 350px;
    }
    #lys{
        width: 300px;
        height: 350px;
    }
    #lavende{
        width: 300px;
        height: 350px;
    }
    .character-texte{
        width: 500px;
        height: 200px;
        margin-top: -100px;
        margin-left: 50px;
    }
    .character-texte p{
        font-size: 12px;
    }
    #image_bas_character{
        bottom: -300px;
    }
    #titre_worlds{
        margin-top: 275px;
        font-size: 70px;
    }
    .container_worlds{
        margin-top:75px;
        gap: 25px;
    }

    .worlds_choice{
        width: 300px;
        height: 200px;
    }
    .texte-world{
        width: 50%;
        height: 250px;
    }

    .texte-world p{
        width: 80%;
        font-size: 14px;
    }

    #image_bas_world {
        bottom: -200px;
    }
    .content-download{
        width: 90%;
        height: 450px;
        margin-top: 250px;
        margin-bottom: 250px;
    }
    .text-download h3{
        font-size: 30px;
    }
    .text-download p{
        font-size: 14px;
        margin-top: 25px;
    }

    .available{
        margin-top: 15px;
        display: flex;
        align-items: center;
        width: 80%;
    }

    .available p{
        font-size: 12px;
        margin-left: 15px;
    }
    .available img{
        width: 25px;
    }

    .content-preorder{
        width: 80%;
        margin-top: 30px;
    }

    .content-preorder a{
        font-size: 40px;
    }

    #preorder{
        width: 175px;
        height: 50px;
    }
}

@media screen and (max-width:620px)
{
    header{
        height: 100px;
    }
    .echap{
        width: 75px;
        height: 75px;
        margin-left: 10px;
        margin-top: 0px;
    }
    .burger{
        width: 75px;
        height: 75px;
        margin-right: 10px;
        margin-top: 0px;
    }
    .content-about{
        width: 90%;
        height: 450px;
        margin-top: 150px;
    }
    .content-about p{
        font-size: 14px;
    }
    #image_bas_about {
        bottom: -150px;
    }
    #titre_character{
        margin-top: 200px;
        font-size: 60px;
    }

    .content-character{
        width: 80%;
        margin-top: 50px;
        flex-direction: column;
    }
    .card-character{
        width: 180px;
        height: 280px;
        margin-top: 25px;
    }
    #cattie{
        width: 300px;
        height: 250px;
    }
    #lys{
        width: 300px;
        height: 250px;
    }
    #lavende{
        width: 300px;
        height: 250px;
    }
    .character-texte{
        width: 550px;
        height: 150px;
        margin-top: -150px;
        margin-left: 25px;
    }
    .character-texte p{
        font-size: 10px;
    }
    #image_bas_character{
        bottom: -200px;
    }
    #titre_worlds{
        margin-top: 200px;
        font-size: 60px;
    }
    .container_worlds{
        margin-top:50px;
        gap: 25px;
        grid-template-columns: repeat(1, 1fr);
    }

    .worlds_choice{
        width: 300px;
        height: 200px;
    }
    .texte-world{
        width: 50%;
        height: 175px;
    }
    .texte-world p{
        width: 80%;
        font-size: 12px;
    }
    #image_bas_world {
        bottom: -200px;
    }
    .content-download{
        width: 90%;
        height: 400px;
        margin-top: 250px;
        margin-bottom: 250px;
    }
    .text-download h3{
        font-size: 25px;
    }
    .text-download p{
        font-size: 12px;
        margin-top: 25px;
    }

    .available{
        margin-top: 15px;
        width: 80%;
    }

    .available p{
        font-size: 10px;
        margin-left: 15px;
    }
    .available img{
        width: 25px;
    }

    .content-preorder{
        width: 80%;
        margin-top: 20px;
    }

    .content-preorder a{
        font-size: 25px;
    }
    #preorder{
        width: 150px;
        height: 35px;
    }
}

@media screen and (max-width:500px)
{
    .content_menu a{
        font-size: 35px;
    }
    .content-about{
        width: 90%;
        height: 400px;
        margin-top: 0px;
    }
    .content-about p{
        font-size: 12px;
        margin-left: 0px;
    }
    #image_bas_about {
        bottom: -50px;
    }
    #titre_character{
        margin-top: 150px;
        font-size: 55px;
    }

    .content-character{
        width: 80%;
        margin-top: 25px;
    }
    .card-character{
        width: 180px;
        height: 280px;
        margin-top: 25px;
    }
    .content-page-character{
        flex-direction: column;
        margin-top: 20px;
    }
    #cattie{
        width: 250px;
        height: 400px;
    }
    #lys{
        width: 250px;
        height: 400px;
    }
    #lavende{
        width: 250px;
        height: 400px;
    }
    .character-texte{
        width: 80%;
        height: 100px;
        margin-top: 25px;
        margin-left: 0px;
        background-image: none !important;
    }
    .character-texte p{
        width: 100%;
        font-size: 12px;
        text-shadow: #61438f 0px 0px 5px;
    }
    #image_bas_character{
        bottom: -200px;
    }
    #titre_worlds{
        margin-top: 250px;
        font-size: 55px;
    }
    .container_worlds{
        margin-top:50px;
        gap: 25px;
        grid-template-columns: repeat(1, 1fr);
    }

    .worlds_choice{
        width: 350px;
        height: 250px;
    }
    .texte-world{
        width: 75%;
        height: 200px;
    }
    .texte-world p{
        font-size: 12px;
    }

    #image_bas_world {
        bottom: -200px;
    }

    .content-download{
        width: 95%;
        height: 350px;
        margin-top: 250px;
        margin-bottom: 150px;
    }
    .text-download h3{
        font-size: 22px;
        margin-top: -25px;
    }
    .text-download p{
        font-size: 12px;
        margin-top: 10px;
    }

    .available{
        margin-top: 15px;
        width: 80%;
    }

    .available p{
        font-size: 10px;
        margin-left: 10px;
    }
    .available img{
        width: 20px;
    }

    .content-preorder{
        width: 80%;
        margin-top: 15px;
    }

    .content-preorder a{
        font-size: 25px;
    }
    #preorder{
        width: 150px;
        height: 35px;
    }
}
@media screen and (max-width:420px)
{
    .content_menu a{
        width: 75px;
        height: 50px;
        font-size: 35px;
    }

    #bouton_download{
        width: 150px;
    }

    .content-about{
        width: 90%;
        height: 350px;
        margin-top: 0px;
    }
    .content-about p{
        width: 100%;
        margin-top: 5px;
    }
    #image_bas_about {
        bottom: 0px;
    }
    #titre_character{
        margin-top: 50px;
        font-size: 45px;
    }

    .content-character{
        width: 80%;
        margin-top: 25px;
    }
    .card-character{
        width: 150px;
        height: 250px;
        margin-top: 25px;
    }
    .content-page-character{
        /* flex-direction: column; */
        margin-top: 50px;
    }
    #cattie{
        width: 200px;
        height: 325px;
    }
    #lys{
        width: 150px;
        height: 250px;
    }
    #lavende{
        width: 150px;
        height: 250px;
    }
    .character-texte{
        width: 85%;
        height: 100px;
        margin-top: 25px;
    }
    .character-texte p{
        width: 100%;
        font-size: 12px;
    }
    #image_bas_character{
        bottom: -200px;
    }
    #titre_worlds{
        margin-top: 200px;
        font-size: 45px;
    }
    .container_worlds{
        margin-top: 50px;
        gap: 25px;
        grid-template-columns: repeat(1, 1fr);
    }

    .worlds_choice{
        width: 300px;
        height: 200px;
    }
    .texte-world{
        width: 85%;
    }
    .texte-world p{
        width: 80%;
        font-size: 12px;
    }

    #image_bas_world {
        bottom: -200px;
    }
}
@media screen and (max-width:320px)
{
    #image_haut_about{
        margin-top: 0px;
    }
    .content_menu a{
        font-size: 35px;
    }

    .content-about{
        background-image: url(illu/tel/cadre_about.png);
        width: 75%;
        height: 250px;
        margin-top: 25px;
    }
    .content-about p{
        text-align: center;
        font-size: 10px;
        margin-left: 0px;
    }
    #image_bas_about {
        bottom: 0px;
    }
    #titre_character{
        margin-top: 50px;
        font-size: 34px;
    }
    .content-character{
        width: 80%;
        margin-top: 25px;
    }
    .card-character{
        width: 180px;
        height: 280px;
        margin-top: 25px;
    }
    .content-page-character{
        flex-direction: column;
        margin-top: 50px;
    }
    #cattie{
        width: 180px;
        height: 280px;
    }
    #lys{
        width: 180px;
        height: 280px;
    }
    #lavende{
        width: 180px;
        height: 280px;
    }
    .character-texte{
        width: 95%;
        height: 100px;
        margin-top: 50px;
    }
    #image_bas_character{
        bottom: -150px;
    }
    #titre_worlds{
        margin-top: 200px;
        font-size: 34px;
    }
    .container_worlds{
        margin-top:50px;
        width: 100%;
        justify-items: center;
    }

    .worlds_choice{
        width:95%;
        height: 200px;
    }
    .texte-world p{
        font-size: 10px;
    }

    #image_bas_world {
        bottom: -200px;
    }

    .content-download{
        width: 95%;
        height: 350px;
        margin-top: 250px;
        margin-bottom: 100px;
        background-image: url(illu/tel/cadre_download_tel.png);
    }
    .text-download h3{
        font-size: 20px;
        margin-top: -50px;
        text-align: center;
    }
    .text-download p{
        text-align: center;
        font-size: 10px;
        margin-top: 10px;
    }

    .available{
        margin-top: 15px;
        width: 80%;
    }

    .available p{
        font-size: 8px;
        margin-left: 10px;
    }
    .available img{
        width: 20px;
    }

    .content-preorder{
        width: 80%;
        margin-top: 15px;
    }

    .content-preorder a{
        font-size: 20px;
    }
    #preorder{
        width: 100px;
        height: 30px;
    }
}
