@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

@font-face {
    font-family: 'Etherea';
    src: url('typo/cirkus/Cirkus.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto';
    src: url(typo/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'Texte';
    src: url(typo/ABeeZee/ABeeZee-Regular.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    cursor: none;
    scroll-behavior: smooth;
    overflow: hidden;
}

a{
    cursor: none;
}

p{
    font-family: 'Roboto';
}

#move{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-image: url(illu/cursor/cursor_artefact.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    z-index: 100;
}


@keyframes flotter {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}


/* Header  */

header{
    position: fixed;
    width: 100%;
    height: 100px;
    /* background-color: #62438f; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.echap{
    margin-left: 20px;
    width: 75px;
    height: 75px;
}
.echap img{
    width: 100%;
}

.menu{
    margin-right: 20px;
    width: 75px;
    height: 75px;
}

/* slides */

.slides{
    display: flex;
    width: 500vw;
    height: 100vh; /* attention pas de débordement */
    transition: transform 0.5s ease;
}

.slide{
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fond{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.cattie{
    width: 7%;
    position: absolute; 
    bottom: 440px;     
    left: 150px;          
    transform: scaleX(1); 
    transition: transform 0.25s ease;
    z-index: 5;
    background-color: #62438f;
}

 .cattie video {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }

#cattie_idl{
    display: block;
}
#cattie_run{
    display: none;
}

#lys_idl{
    display: none;
    transform: scale(1.2); /* augmente Lys */
    margin-top: 25px;
}
#lys_run{
    display: none;
    transform: scale(1.2); /* augmente Lys */
    margin-top: 25px;
}

#lavende_idl{
    display: none;
}
#lavende_run{
    display: none;
}

.container-arrow{
    background-color: #61438f00;
    width: 300px;
    height: 200px;
    z-index: 1;
    position: fixed;
    bottom: 5%;
    left: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.arrow{
    width: 100%;
    background-color: rgba(127, 255, 212, 0);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.container-arrow #right{
    background-image: url(illu/arrow/right.png);
}
.container-arrow #left{
    background-image: url(illu/arrow/left.png);
}
.container-arrow #down{
    background-image: url(illu/arrow/down.png);
}
.container-arrow #up{
    background-image: url(illu/arrow/up.png);
}

.right-active{
    background-image: url(illu/arrow/right_down.png) !important;
    width: 95%;
}

.left-active{
    background-image: url(illu/arrow/left_down.png) !important;
    width: 95%;
}
.direction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: antiquewhite; */
    width: 125px;
    height: 150px;
    z-index: 1;
    position: fixed;
    bottom: 45%;
    right: 75px;
    animation: move 1s ease-in-out infinite alternate;
}

.direction_right{
    bottom: 45%;
    right: 75px;
}
.direction_left{
    bottom: 45%;
    left: 50px;
}

.direction_texte_right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
.direction_texte_left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

.direction_text{
    /* background-color: #62438f; */
    font-size: 45px;
    font-family: 'Etherea';
    color: white;
    transform: rotate(-90deg);
    z-index: 1;
}

.direction img{
    width: 50px;
}

@keyframes move {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(25px);
    }
}

/* Home */

/* About */

.content-about{
    background-image: url(illu/cadre/cadre_about.png);
    background-size: 100% 100%; /* étire l’image sur toute la div */
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    width: 800px;
    height: 400px;
    margin-top: -200px;
    padding: 25px;
    border-radius: 25px;
    animation: flotter 3s ease-in-out infinite;
    /* box-shadow: #62438f 0px 0px 15px 2px ; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.texte-about{
    width: 95%;
    margin-top: 35px;
}

.content-about p{
    font-family: 'Texte';
    margin-top: 15px;
    margin-left: 25px;
    font-size: 18px;
    color: white;
}

.content-about p strong{
    color: #ffffff;
    text-shadow: #f2b3ff 0px 0px 10px;
}

/* Character */
#home{
    flex-direction: column;
}
#character{
    flex-direction: column;
}
#character h1{
    font-family: 'Etherea';
    font-weight: normal;
    color: white;
    margin-top: -200px;
    font-size: 70px;
    text-shadow: #c265c2 0px 0px 5px;
    animation: flotter 3s ease-in-out infinite;
}
.content-character{
    width: 55%;
    z-index: 1;
    height: 35%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

#home h1{
    font-family: 'Etherea';
    font-weight: normal;
    color: rgb(255, 255, 255);
    margin-top: -200px;
    font-size: 70px;
    text-shadow: #c265c2 0px 0px 5px;
    animation: flotter 3s ease-in-out infinite;
}

.card-character{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 250px;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    transition: all 0.5s ease;
}

.active-card-lys{
    transform: translate(-300px);
    opacity: 1;
    z-index: 10;
}

.active-card-lavende{
    transform: translate(-600px);
    opacity: 1;
    z-index: 10;
}

.remove-card-lys{
    transform:translate(-200px);
    opacity:0;
    z-index: 0;
}

.remove-card-lavende{
    transform:translate(-400px);
    opacity:0;
    z-index: 0;
}

.remove-card-cattie{
    opacity: 0;
}

#card-cattie{
    background-image: url(illu/cadre/cadre_Cat.png);
   
}

#card-lys{
    background-image: url(illu/cadre/cadre_Lys.png);
}

#card-lys .character-img{
    margin-top: 10px;
    width: 55%;
}

#card-lavende{
    background-image: url(illu/cadre/cadre_Lavende.png);

}

.character-img{
    width: 50%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-img video{
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 5;
}

.character-texte{
    position: absolute;
    z-index: 0;
    width: 500px;
    height: 200px;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -125px;
    opacity: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#texte-cattie{
    background-image: url(illu/cadre/cadre_texte_cattie.png);
}

#texte-lys{
    background-image: url(illu/cadre/cadre_texte_lys.png);
}

#texte-lavende{
    background-image: url(illu/cadre/cadre_texte_lavende.png);
}

.character-texte p{
    text-align: center;
    width: 75%;
    color: #ffffff;
    font-family: 'Texte';
    font-size: 14px;
}

.character-texte-active{
    transform: translate(450px);
    opacity: 1;
}

/* Worlds */

.container_worlds{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: -200px;
}

.worlds_choice{
    width: 400px;
    height: 250px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;

}

#foret{
    background-image: url(illu/cadre/cadre_foret.png);
    animation: flotter 2s ease-in infinite;
}

#prairie{
    background-image: url(illu/cadre/cadre_prairie.png);
    animation: flotter 2s ease-out infinite;
}

#desert{
    background-image: url(illu/cadre/cadre_desert.png);
    animation: flotter 2s ease-out infinite;
}

#jungle{
    background-image: url(illu/cadre/cadre_jungle.png);
    animation: flotter 2s ease-in-out infinite;
}

/* Download */

