/* Menu */

@font-face {
    font-family: 'Etherea';
    src: url('typo/cirkus/Cirkus.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto';
    src: url(typo/Roboto/Roboto-Regular.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    cursor: none;
    scroll-behavior: smooth;
    overflow: hidden;
}

a{
    cursor: none;
}

p{
    font-family: 'Roboto';
}

#move{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-image: url(cursor/cursor_artefact.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    z-index: 100;
}


@keyframes flotter {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}


/* Header */

header{
    background-image: url(header/header.png);
    background-size: contain;
    background-position: top right;
    width: 100%;
    height: 175px;
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 100px;
    margin: 25px;
}

#logo img{
    width: 100%;
}

nav{
    width: 50%;
    height: 125px;
    /* background-color: aliceblue; */
    margin-right: 40px;
}
nav ul{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    /* background-color: antiquewhite; */
    width: 100%;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Etherea';
    font-size: 45px;
    display: inline block;
    display: inline-block;
    -webkit-transition: transform 0.2s ease, color 0.2s ease;
    transition: transform 0.2s ease;
}

nav ul li{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

#download{
    background-image: url(bouton-menu/download.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease; 
    /* ease → la courbe d’accélération : ça démarre doucement, accélère au milieu et ralentit à la fin. */
}

#download:hover{
    transform: scale(1.2);
}

nav ul li:hover a:not(#download a)  {
  color: #62438f;
  transform: scale(1.1);
}

/* slides */

.slides{
    display: flex;
    width: 500vw; /* 4 slides horizontaux, tu multiplies au besoin */
    height: 100vh; /* attention pas de débordement */
    transition: transform 0.5s ease;
}

.slide{
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* pour remplir sans déformation */
    z-index: -1; /* passe derrière le contenu */
}

.cattie{
    width: 125px;
    position: absolute; 
    bottom: 515px;     
    left: 150px;          
    transform: scaleX(1); 
    transition: transform 0.25s ease;
    z-index: 5;
}

 .cattie video {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }

#cattie_idl{
    opacity: 1;
}
#cattie_run{
    opacity: 0;
}

.container-arrow{
    background-color: #61438f00;
    width: 300px;
    height: 200px;
    z-index: 1;
    position: fixed;
    bottom: 5%;
    left: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.arrow{
    width: 100%;
    background-color: rgba(127, 255, 212, 0);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.container-arrow #right{
    background-image: url(arrow/right.png);
}
.container-arrow #left{
    background-image: url(arrow/left.png);
}
.container-arrow #down{
    background-image: url(arrow/down.png);
}
.container-arrow #up{
    background-image: url(arrow/up.png);
}

.right-active{
    background-image: url(arrow/right_down.png) !important;
    width: 95%;
}

.left-active{
    background-image: url(arrow/left_down.png) !important;
    width: 95%;
}

.direction{
    /* background-color: #62438f; */
    background-image: url(arrow/direction.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 75px;
     z-index: 1;
    position: fixed;
    bottom: 45%;
    right: 75px;
    animation: move 1s ease-in-out infinite alternate;
}

@keyframes move {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(25px);
    }
}



/* Home */

/* About */

.content-about{
    position: relative;
    background-color: rgba(255, 255, 255, 0.479);
    z-index: 1;
    font-family: 'Roboto';
    width: 40%;
    margin-top: -225px;
    padding: 25px;
    border-radius: 25px;
    backdrop-filter: blur(5px);
    animation: flotter 3s ease-in-out infinite;
    /* box-shadow: #62438f 0px 0px 15px 2px ; */
}

.content-about h1{
    font-family: 'Etherea';
    color:#62438f;
    font-weight: normal;
    font-size: 50px;
    margin-bottom: 40px;
}

.content-about p{
    margin-top: 15px;
    margin-left: 25px;
}

.content-about p strong{
    color: #62438f;
}