/* Menu */

@font-face {
    font-family: 'Etherea';
    src: url('typo/cirkus/Cirkus.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto';
    src: url(typo/Roboto/Roboto-Regular.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    cursor: none;
    scroll-behavior: smooth;
    overflow: hidden;
}

a{
    cursor: none;
}

p{
    font-family: 'Roboto';
}

#move{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-image: url(illu/cursor/cursor_artefact.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    z-index: 100;
}


@keyframes flotter {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}


/* Header  */

header{
    position: fixed;
    width: 100%;
    height: 100px;
    /* background-color: #62438f; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.echap{
    margin-left: 20px;
    width: 75px;
    height: 75px;
}
.echap img{
    width: 100%;
}

.menu{
    margin-right: 20px;
    width: 75px;
    height: 75px;
}

/* slides */

.slides{
    display: flex;
    width: 500vw;
    height: 100vh; /* attention pas de débordement */
    transition: transform 0.5s ease;
}

.slide{
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fond{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.cattie{
    width: 7%;
    position: absolute; 
    bottom: 450px;     
    left: 150px;          
    transform: scaleX(1); 
    transition: transform 0.25s ease;
    z-index: 5;
    background-color: #62438f;
}

 .cattie video {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }

#cattie_idl{
    opacity: 1;
}
#cattie_run{
    opacity: 0;
}

#lys_idl{
    opacity: 0;
    transform: scale(1.2); /* augmente Lys */
    margin-top: 25px;
}
#lys_run{
    opacity: 0;
    transform: scale(1.2); /* augmente Lys */
    margin-top: 25px;
}

#lavende_idl{
    opacity: 0;
}
#lavende_run{
    opacity: 0;
}

.container-arrow{
    background-color: #61438f00;
    width: 300px;
    height: 200px;
    z-index: 1;
    position: fixed;
    bottom: 5%;
    left: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.arrow{
    width: 100%;
    background-color: rgba(127, 255, 212, 0);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.container-arrow #right{
    background-image: url(illu/arrow/right.png);
}
.container-arrow #left{
    background-image: url(illu/arrow/left.png);
}
.container-arrow #down{
    background-image: url(illu/arrow/down.png);
}
.container-arrow #up{
    background-image: url(illu/arrow/up.png);
}

.right-active{
    background-image: url(illu/arrow/right_down.png) !important;
    width: 95%;
}

.left-active{
    background-image: url(illu/arrow/left_down.png) !important;
    width: 95%;
}
.direction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: antiquewhite; */
    width: 125px;
    height: 150px;
    z-index: 1;
    position: fixed;
    bottom: 45%;
    right: 75px;
    animation: move 1s ease-in-out infinite alternate;
}

.direction_right{
    bottom: 45%;
    right: 75px;
}
.direction_left{
    bottom: 45%;
    left: 50px;
}

.direction_texte_right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
.direction_texte_left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

.direction_text{
    /* background-color: #62438f; */
    font-size: 45px;
    font-family: 'Etherea';
    color: white;
    transform: rotate(-90deg);
    z-index: 1;
}

.direction img{
    width: 50px;
}

@keyframes move {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(25px);
    }
}





/* Home */

/* About */

.content-about{
    position: relative;
    background-color: rgba(255, 255, 255, 0.479);
    z-index: 1;
    font-family: 'Roboto';
    width: 40%;
    margin-top: -150px;
    padding: 25px;
    border-radius: 25px;
    backdrop-filter: blur(5px);
    animation: flotter 3s ease-in-out infinite;
    /* box-shadow: #62438f 0px 0px 15px 2px ; */
}

.content-about h1{
    text-align: center;
    font-family: 'Etherea';
    color:#62438f;
    font-weight: normal;
    font-size: 100px;
    margin-bottom: 25px;
    margin-top: -90px;
    text-shadow: 
    -1px -1px 0 rgb(255, 255, 255),
     1px -1px 0 rgb(255, 255, 255),
    -1px  1px 0 rgb(255, 255, 255),
     1px  1px 0 rgb(255, 255, 255);
}

.content-about p{
    margin-top: 15px;
    margin-left: 25px;
    font-size: 18px;
}

.content-about p strong{
    color: #62438f;
}

/* Character */

.content-character{
    width: 55%;
    z-index: 1;
    height: 35%;
    margin-top: -200px;
    display: flex;
    justify-content: space-around;
}

.card-character{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 280px;
    height: 100%;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#card-cattie{
    background-image: url(illu/cadre/cadre_Cat.png);
   
}

#card-lys{
    background-image: url(illu/cadre/cadre_Lys.png);
}

#card-lavende{
    background-image: url(illu/cadre/cadre_Lavende.png);

}


.character-img{
    width: 90%;
    height: 90%;
    z-index: 1;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-img video{
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 5;
}

.character-texte {
    position: absolute;
    inset: 0;
    z-index: 5;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2.5px);
}

.card-character:hover .character-texte {
    top: 0%;
}

